{% load static i18n %}
<!DOCTYPE html>
<html {% if request.LANGUAGE_CODE == 'fa' %}lang="fa"{% else %}lang="en"{% endif %} dir="{% if request.LANGUAGE_CODE == 'fa' %}rtl{% else %}ltr{% endif %}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>{% block page_title %}{% endblock %}</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/templatemo-hexashop.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/owl-carousel.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">
    {% block extra_css %}{% endblock %}
    </head>
    <body>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo" {% if request.LANGUAGE_CODE == 'fa' %}style="float: right;"{% endif %}>
                            <img src="{% static 'assets/images/logo.png' %}">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav" {% if request.LANGUAGE_CODE == 'fa' %}style="float: left;"{% endif %}>
                            <li><a href="{% url 'website:home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">{% trans 'خانه' %}</a></li>
                            <li><a href="{% url 'website:about-us' %}" class="{% if request.resolver_match.url_name == 'about-us' %}active{% endif %}">{% trans 'درباره ما' %}</a></li>
                            <li><a href="{% url 'website:contact-us' %}" class="{% if request.resolver_match.url_name == 'contact-us' %}active{% endif %}">{% trans 'ارتباط با ما' %}</a></li>
                            {% if request.LANGUAGE_CODE == 'en'%}                         
                            <li><a href="#" onclick="ChangeLanguage('fa')">{% trans 'Persian' %}</a></li>  
                            {% else %}
                            <li><a href="#" onclick="ChangeLanguage('en')">{% trans 'انگلیسی' %}</a></li>  
                            {% endif %}                           
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    {% block content %}{% endblock %}

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="{% static 'assets/images/white-logo.png' %}" alt="hexashop ecommerce templatemo">
                        </div>
                        <ul>
                            <li><a href="#">{{ contact.address }}</a></li>
                            <li><a href="#">{{ contact.email }}</a></li>
                            <li><a href="#">{{ contact.phone_number }}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>{% trans 'بلاگ ها' %} &amp; {% trans 'دسته بندی های پر بازدید' %}</h4>
                    <ul>
                        <li><a href="#">{% trans 'در برنامه نویسی' %}</a></li>
                        <li><a href="#">{% trans 'در اقتصاد' %}</a></li>
                        <li><a href="#">{% trans 'در سیاست' %}</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>{% trans 'لینک های ضروری' %}</h4>
                    <ul>
                        <li><a href="{% url 'website:home' %}">{% trans 'خانه' %}</a></li>
                        <li><a href="{% url 'website:about-us' %}">{% trans 'درباره ما' %}</a></li>
                        <li><a href="#">{% trans 'کمک' %}</a></li>
                        <li><a href="{% url 'website:contact-us' %}">{% trans 'ارتباط با ما' %}</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>{% trans 'کمک' %} &amp; {% trans 'اطلاعات' %}</h4>
                    <ul>
                        <li><a href="#">{% trans 'کمک' %}</a></li>
                        <li><a href="#">{% trans 'سوالات متداول' %}</a></li>
                        <li><a href="#">{% trans 'ثبت نام' %}</a></li>
                        <li><a href="#">{% trans 'ورود' %}</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>Copyright © 2022 HexaShop Co., Ltd. All Rights Reserved. 
                        
                        <br>{% trans 'با مدیریت' %}: <a href="https://github.com/FahimReza1386/" target="_parent" title="free css templates">{{ contact.owner_name }}</a></p>
                        <ul>
                            <li><a href="{{ contact.facebook_link }}"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="{{ contact.twitter_link }}"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="{{ contact.linkedin_link }}"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="{{ contact.instagram_link }}"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/accordions.js' %}"></script>
    <script src="{% static 'assets/js/datepicker.js' %}"></script>
    <script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/imgfix.min.js' %}"></script> 
    <script src="{% static 'assets/js/slick.js' %}"></script> 
    <script src="{% static 'assets/js/lightbox.js' %}"></script> 
    <script src="{% static 'assets/js/isotope.js' %}"></script> 
    
    <!-- Global Init -->
    <script src="{% static 'assets/js/custom.js' %}"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>
    <script>
        function ChangeLanguage(language_code){
            $.ajax({
                url: "{% url 'set_language' %}",
                type: "POST",
                data: {
                    'language': language_code,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function() {
                    location.reload();
                },
                error: function(xhr, status, error) {
                    console.error("Language change failed: " + error);
                }
            });
        }
    </script>
{% block extra_js %}{% endblock %}
  </body>
</html>