{% extends 'base.html' %}
{% load static i18n %}

{% block page_title %}{% trans 'بلاگ ها' %}{% endblock %}

{% block content %}
    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>{% trans 'تمامی بلاگ ها را بخوانید' %}</h2>
                        <span>{% trans 'این صفحه به شما کمک میکند در همه موضوعی دانش خود را افزایش دهید ..' %}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->


    <!-- ***** Products Area Starts ***** -->
    <section class="section" id="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>{% trans 'تنها پست های عمومی را میتوانید کامل بخوانید' %}</h2>
                        <span>{% trans 'با خرید اشتراک یک ساله فهیم وب سه ماه اشتراک رایگان دریافت کنید' %}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for blog in blogs %}
                
                 <div class="col-lg-4" id="myselect">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    <li><a href="{% url 'blog:blog-detail' pk=blog.pk %}"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                </ul>
                            </div>

                            <div class="slider">
                                <div class="slides">
                                    {% for img in images %}
                                        {% if img.blog == blog %}
                                            <img src="{{ img.image.url }}" alt="{{ blog.title }}" class="slide active">
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                
                                <button class="prev">❮</button>
                                <button class="next">❯</button>
                            </div>
                        </div>
                        <div class="down-content">
                            <h4>{{ blog.title }}</h4>
                            <span style="margin:0 2rem;">{% trans 'نوع پست :' %} {{ blog.get_type_display }}</span>
                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- ***** Products Area Ends ***** -->
{% endblock %}
